
.question-form {
  @extend %content-container;
  margin-bottom: -2px;
  padding-left:  calc(2em - 2px);
  padding-right: calc(2em - 2px);

  &__search-array {
    display: flex;
    line-height: 5;

    [type="search"],
    select {
      flex: 0;
      -moz-appearance: none;
      -webkit-appearance: none;
      margin: 0;
      padding: 0 1.5em;
      padding-bottom: 2px;
      border: none;
      border-right: 1px solid #ddd;
      border-radius: 0;
      background-color: #eee;
      background-repeat: no-repeat;
      line-height: inherit;
      font: inherit;

      &:focus {
        outline: none;
        background-color: yellow;
        border-right-color: darken(yellow, 7%);
      }
    }

    [type="search"] {
      flex-basis: calc(65% - 3em);
      border-top-left-radius: 3px;
      font-weight: bold;
    }

    select {
      flex-basis: 35%;
      background-image: inline("./../assets/dropdown-arrow.svg");
      background-position: calc(100% - 1.5rem) 50%;

      &:focus {
        box-shadow: -1.3px 0 0 darken(yellow, 7%);
      }
    }
  }

  &__status-toggles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 3em;
    background-color: #eee;

    &, label {
      border-top-right-radius: 3px;
    }

    label {
      display: block;
      height: 1.5em;
      width:  1.5em;
      border: 2px solid;
      border-radius: 50%;
      cursor: pointer;
    }

    [type="checkbox"] { display: none; }

    .answered {


      + label {
        margin-top: .5em;
        border-color: darken(#e9fcea, 15%);
      }

      &:checked + label { background-color: darken(#e9fcea, 15%); }
    }

    .unanswered {


      + label {
        margin-bottom: .5em;
        border-color: darken(#fce9f0, 15%);
      }

      &:checked + label { background-color: darken(#fce9f0, 15%); }
    }
  }
}
