
@keyframes ticktock {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

.loading {
  position: absolute;
  height: 230px;
  width: 200px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  background-color: #fff;

  &__spinner {
    height: 200px;
    width: 200px;
    animation: ticktock 6s linear infinite;
    background-image: inline("./../assets/gear.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
