
.__person {
  @extend %content-container;
  padding-left:  2em;
  padding-right: 2em;

  h2 {
    line-height: 2.5rem;
  }
}


.mugshot {


  img {
    max-width: 100%;
  }
}

.tenure-table {
  border-collapse: collapse;

  thead {
    text-transform: uppercase;
    font-size: .8em;
    font-weight: bold;
  }

  td {
    padding-right: .5rem;

    + td {
      padding-left: .5em;
      border-left: 1px solid;
    }
  }
}

.raw-data {
  margin-top: 5em;
}
