
.question {


  &:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  &--answered {
    background-color: #e9fcea;

    .question-text,
    .question-footer,
    .question-footer__answers li {
      border-color: #e9fcea;
    }

    .question-id,
    .author__image {
      background-color: darken(#e9fcea, 3%);
    }

    .question-id a,
    .author__image,
    .author__name a,
    .question-footer__misc li::after {
      color: darken(#e9fcea, 50%);
    }
  }

  &--unanswered {
    background-color: #fce9f0;

    .question-text,
    .question-footer {
      border-color: #fce9f0;
    }

    .question-id,
    .author__image {
      background-color: darken(#fce9f0, 3%);
    }

    .question-id a,
    .author__image,
    .author__name a,
    .question-footer__misc li::after {
      color: darken(#fce9f0, 50%);
    }
  }

  &:not(:last-child) .question-footer {
    border-bottom: 0;
  }

  h2 {
    display: none;
  }
}

.question-header {
  display: flex;
  line-height: 5;
}

.question-metadata,
.question-id {
  flex: 0;
  padding: 0 1.5em;
}

.question-metadata {
  @include inline-list;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 65%;
  margin: 0;

  a:hover {
    text-decoration: underline;
  }

  > li {
    font-size: .9em;
  }

  &__date a {
    white-space: nowrap;
    color: #333;
  }

  &__authors {
    line-height: 4;
    padding: .5em 0;

    ul {
      @include inline-list(.5em);

      li {
        position: relative;

        + li { margin-left: 0; }
      }
    }
  }
}

.question-id {
  flex-basis: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.question-text {
  border-left: 1px solid;
  border-right: 1px solid;
  padding: 1em 1.5em;
  background-color: #fff;
}

.question-footer {
  overflow: auto;
  padding: 0 1.5em 1em;
  border: 1px solid;
  border-top: 0;
  background-color: #fff;
  line-height: 1em;

  &__answers,
  &__misc {
    margin: 0;
    text-transform: lowercase;
  }

  &__answers {
    @include inline-list(.5em);
    float: left;

    li {


      + li {
        margin-left:  .5em;
        padding-left: .5em;
        border-left: 1px solid;
      }
    }
  }

  &__misc {
    @include inline-list(0);

    li {
      float: right;
      font-size: .9em;

      + li {


        &::after {
          padding: 0 .5em;
          content: "◦";
        }
      }
    }
  }
}

.author {


  &__image {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    width:  3em;
    height: 3em;
    overflow: hidden;
    clip-path: ellipse(50% at center);
    border: 1px solid;
    border-radius: 50%;

    img {
      width: 100%;
    }
  }

  &__name {
    margin-left: 3.5em;
  }
}
