
.question {


  &:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  &--answered {
    background-color: #e9fcea;

    .question-text {
      border-color: #e9fcea;
    }

    .question-id {
      background-color: darken(#e9fcea, 3%);
      color: darken(#e9fcea, 50%);
    }
  }

  &--unanswered {
    background-color: #fce9f0;


    .question-text {
      border-color: #fce9f0;
    }

    .question-id {
      background-color: darken(#fce9f0, 3%);
      color: darken(#fce9f0, 50%);
    }
  }

  &:not(:last-child) .question-text {
    border-bottom: 0;
  }

  h2 {
    display: none;
  }
}

.question-header {
  display: flex;
  line-height: 5;
}

.question-metadata,
.question-id {
  flex: 0;
  padding: 0 1.5em;
}

.question-metadata {
  @include inline-list;
  flex-basis: 65%;
  margin: 0;

  > * {
    font-size: .9em;
  }

  &__date {}

  &__authors {


    ul {
      @include inline-list(.5em);
    }
  }

  &__answers {
    font-weight: bold;

    ul {
      @include inline-list(.5em);
    }
  }
}

.question-id {
  flex-basis: 35%;
  font-weight: bold;
  padding-left: 1.5em;
  text-align: center;
}

.question-text {
  border: 1px solid;
  border-top: 0;
  padding: 1em 1.5em;
  background-color: #fff;
}
