
.time-series {
  @extend %content-container;
  padding: 2em;
  padding-bottom: 0;

  .axis--x > path {
    stroke: none;
  }

  .axis--x > .tick > line {
    stroke: #ddd;
  }
}


.bar {


  rect {
    fill: #222;
  }

   text {
    fill: #fff;
    font: 10px sans-serif;
  }
}
