
%bulletless-list {
  list-style: none;
  padding-left: 0;
}

@mixin inline-list($spacing: 1em) {
  @extend %bulletless-list;

  > li {
    display: inline-block;

    + li {
      margin-left: $spacing;
    }
  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 2em 0;
  font-family: sans-serif;
  line-height: 1.8;
  color: #111;
  -webkit-font-feature-settings: "liga" on, "calt" on;
  font-feature-settings: "liga" on, "calt" on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}


.site-header {
  margin: 3em auto;
  width: 650px;

  .page-title,
  .tag-line,
  .nav-bar {
    padding: 0 2rem;
  }
}

.page-title {
  margin-bottom: 0;
  background-color: #111;
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 1;
  color: #fff;
}

.tag-line {
  margin-top: .7em;
  line-height: 1.5;
  color: #333;
  font-size: .9em;
}

.nav-bar {


  ul {
    @include inline-list;
    text-align: right;
  }
}


@import "components/form";
@import "components/list";
@import "components/load";
@import "components/main";
@import "components/question";
