
$content-width: 650px;


%bulletless-list {
  list-style: none;
  padding-left: 0;
}

%content-container {
  width: 650px;
  margin: auto;
}

@mixin inline-list($spacing: 1em) {
  @extend %bulletless-list;

  > li {
    display: inline-block;

    + li {
      margin-left: $spacing;
    }
  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 2em 0;
  font-family: Arial, sans-serif;
  font-feature-settings: "kern",
                         "liga",
                         "clig",
                         "calt";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.8;
  color: #111;
}


.site-header {
  margin: 3em auto;
  width: $content-width;

  .page-title,
  .tag-line,
  .nav-bar {
    padding: 0 2rem;
  }
}

.page-title {
  margin-bottom: 0;
  background-color: #222;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 1;
  color: #fff;
}

.tag-line {
  margin-top: .7em;
  line-height: 1.5;
  color: #333;
  font-size: .9em;
}

.nav-bar {


  ul {
    @include inline-list;
    text-align: right;
  }
}


@import "components/about";
@import "components/form";
@import "components/list";
@import "components/load";
@import "components/main";
@import "components/person";
@import "components/question";
@import "components/vis";
