<!DOCTYPE html>
<html lang="el">
  <head>
    <meta charset="utf-8"/>
    <meta name="description"
          content="Ερωτήσεις Κυπρίων βουλευτών προς κυβερνητικά όργανα."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ερωτήσεις Κυπρίων Βουλευτών</title>
  </head>
  <body>
    <header class="site-header">
      <div>
        <h1 class="page-title">ΕΡΩΤΗΣΕΙΣ ΒΟΥΛΕΥΤΩΝ</h1>
        <p class="tag-line">Όλες οι γραπτές ερωτήσεις που οι Κύπριοι βουλευτές
          υπέβαλαν σε κυβερνητικά όργανα από το 1999 μέχρι σήμερα, όπως έχουν
          δημοσιευθεί στην επίσημη ιστοσελίδα της Βουλής.</p>
      </div>
      <nav class="nav-bar">
        <ul>
          <li class="nav-bar__item"><a href="#/">αρχική</a></li>
          <li class="nav-bar__item"><a href="#/about">σχετικά</a></li>
          <li class="nav-bar__item">
            <a href="mailto:support@neavouli.eu" rel="external">επικοινωνία</a>
          </li>
          <li class="nav-bar__item">
            <a href="http://neavouli.eu" rel="external">neavouli</a>
          </li>
        </ul>
      </nav>
    </header>
    <main<% ['electoral_districts', 'mps', 'parliamentary_periods',
             'parties', 'question_settlements', 'questions', 'settlements'
             ].forEach(v => { %> data-<%= v.replace('_', '-') %>-url="<%=
             webpack.assets[_.findIndex(webpack.assets,
                                        o => _.startsWith(o.name, `${v}.`))].name %>"<% }) %>>
      <noscript>
        <p>Η JavaScript είναι απαραίτητη για τη λειτουργία της ιστοσελίδας.</p>
      </noscript>
    </main>
  </body>
</html>
